TELEGRAM_BOT_API_KEY=
MYSQL_DSN='user:password@tcp(localhost:3306)/ride_together?parseTime=true'
CREATE_EVENT_URL=https://example.com/events/new
DRIVER_EVENTS_URL=https://example.com/events/manage
EVENTS_HISTORY_URL=https://example.com/events/history
MAPS_URL=https://example.com/maps
NOMINATIM_URL=https://nominatim.openstreetmap.org/search
EARTH_RADIUS_KM=6371
STICKER_START=
STICKER_SHREK=
STICKER_CAT=
STICKER_CREATE_EVENT=
STICKER_LOCATION=
